{% extends "ecloreuserBundle::page_lambda.html.twig" %}

{% block title %}Espace membre{% endblock %}

{%set color='vert'%}
{%set first='Mon Éclore'%}
{%set second='Espace personnel'%}


{% block content %}
{%include "ecloreuserBundle::menu_user.html.twig"%}
<div class="coldroite">
{% set rejected = proj.PAByStatus('REJECTED') %}
{% set validated = proj.PAByStatus('VALIDATED') %}
{% set pending = proj.PAByStatus('PENDING') %}


<h1> Espace d'administration du projet {{proj.projectName}}. </h1>

<div class="wrapper_el_projets">
            <a href=""  class="expandlink" onclick="return false">
                <div class="projet_el_liste_haut">
                    <div class="hautgauche"> <img src="{{ asset('bundles/ecloreuser/images/projets/proj1.png') }}"></img></div> 
                    <div class="hautdroit"> <h2> <span>{{proj.projectName}} ({{proj.getPAByStatus('PENDING')|length + (proj.isFinished ? proj.getPAByStatus('VALIDATED')|length : 0)}} notifications)</span>  </h2>
                    <span class="soustitre"> <span>{{proj.getDuration|number_format}} jours, </span> <span>{{proj.address}}</span>, <span>  Responsable: {{proj.responsibles|join(', ') }}</span></br>
                    <span>{{proj.shortDescription}}</span> 
                    </div>
                </div>
                <div class="projet_el_liste_bas">
                    <span>{{proj.description}}</span>
                </div>
            </a>
</div>
 
 </br>
 <a href="{{ path('assom_editProject', { 'id': proj.id }) }}"> Modifier ce projet </a>
 </br>

<h2> Statut du projet </h2>
{%if not proj.enabled%}
    Ce projet est en attente de validation de la part des administrateurs. Vous serez averti de sa validation.
{%else%}


<div class="colquarter statutproj">
	<div class="imgtitle icone_annuaire"> </div>
    {%if proj.isFinished %}
    Terminé.
    {%elseif (not proj.isFinished) and proj.isStarted %}
    En cours. 
    {%else%}
    Publié.
    {%endif%}
</div>


<div class="colquarter participants">
   <div class="imgtitle icone_recom"> </div>
    {%if not proj.isFinished%}
        {%if proj.isFull %}Ce projet possède le nombre de participants requis.
        {%else%}{{proj.required - proj.getPAByStatus('VALIDATED')|length}} participants encore souhaités.
        {%endif%}
    {%else%}   
        Merci de clôturer les candidatures des personnes ayant participé.</br>
    {%endif%}
</div>

<div class="colhalf candidatures">
	<div class="imgtitle icone_newprojet"> </div>
    {%if proj.isFinished%}
	
        {% if validated|length >0 %}
        Candidatures à clôturer:
            <ul>
            {% for pa in validated %}
                <li>{{pa.user}} 
                <a href="{{ path('assom_manageApplication', { 'id': pa.id }) }}">Clôturer</a></li>
            {% endfor %}
            </ul>
        {% else %}
        
        {% endif %}
    {%else%}
		
        {% if pending|length >0 %}
        <br>
        Candidatures à traiter:
            <ul>
            {% for pa in pending %}
                <li>{{pa.user}} <a href="{{ path('assom_manageApplication', { 'id': pa.id }) }}">Manager</a></li>
            {% endfor %}
            </ul>
        {% else %}
        Pas de candidatures à traiter.
        {% endif %}
        </br>
        {% if validated|length >0 %}
        Candidatures validées:
            <ul>
            {% for pa in validated %}
                <li>{{pa.user}} 
                <a href="{{ path('assom_manageApplication', { 'id': pa.id }) }}">Manager</a></li>
            {% endfor %}
            </ul>
        {% else %}
        {# Pas de candidatures validées. #}
        {% endif %}
        </br>
        {% if rejected|length >0 %}
        Candidatures rejetées:
            <ul>
            {% for pa in rejected %}
                <li>{{pa.user}} <a href="{{ path('assom_manageApplication', { 'id': pa.id }) }}">Manager</a></li>
            {% endfor %}
            </ul>
        {% else %}
        {# Pas de candidatures rejetées. #}
        {% endif %}

    {%endif%}
	</div>
Si vous souhaitez supprimer ce projet, ou ajouter des responsables, merci de contacter le réseau à webmaster@reseau-eclore.org
</div>
<div class="clearboth"></div>
	
{%endif%}

<div class="clearboth"></div>
{% endblock %}
